In [1]:
import pandas as pd
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json
from cassandra.query import SimpleStatement

In [2]:
#function to connect to Cassandra
def connect_to_cassandra():
    cloud_config = {
        'secure_connect_bundle': 'secure-connect-sale01.zip'
    }
    with open("sale01-token.json") as f:
        secrets = json.load(f)

    CLIENT_ID = secrets["clientId"]
    CLIENT_SECRET = secrets["secret"]

    auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
    cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
    session = cluster.connect()
    return session, cluster  # Returns both session and cluster

In [3]:
def load(session, keyspace, table, df):
    #loading raw data into database
    session.execute(f"""
    CREATE TABLE IF NOT EXISTS {keyspace}.{table} (
        region TEXT,
        country TEXT,
        itemtype TEXT,
        saleschannel TEXT,
        orderPriority TEXT,
        orderDate TEXT,
        orderId BIGINT PRIMARY KEY,
        shipDate TEXT,
        unitsSold INT,
        unitPrice FLOAT,
        unitCost FLOAT,
        totalRevenue FLOAT,
        totalCost FLOAT,
        totalProfit FLOAT
    )
    """)

    insert_query = session.prepare(f"""
    INSERT INTO {keyspace}.{table} (
        region, country, itemtype, saleschannel, orderPriority,
        orderDate, orderId, shipDate, unitsSold, unitPrice,
        unitCost, totalRevenue, totalCost, totalProfit
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """)
    
    for _, row in df.iterrows():
        session.execute(insert_query, (
            row['Region'], row['Country'], row['Item Type'], row['Sales Channel'],
            row['Order Priority'], row['Order Date'], row['Order ID'], row['Ship Date'],
            row['UnitsSold'], row['UnitPrice'], row['UnitCost'],
            row['TotalRevenue'], row['TotalCost'], row['TotalProfit']
        ))

    print("CSV data successfully loaded into Cassandra!(Bronze table)")

In [4]:
from datetime import datetime

def bronze_to_silver(dataframe):
    """
    Cleans and processes the bronze-level DataFrame to silver-level.
    """
    # Handle missing values: Drop rows where critical fields are null
    critical_columns = [
        "region", "country", "itemtype", "saleschannel", 
        "orderpriority", "orderdate", "orderid", "shipdate"
    ]
    dataframe = dataframe.dropna(subset=critical_columns)
    
    # Ensuring correct data types
    dataframe["orderid"] = dataframe["orderid"].astype(int)
    dataframe["unitssold"] = dataframe["unitssold"].astype(int)
    dataframe["unitprice"] = dataframe["unitprice"].astype(float)
    dataframe["unitcost"] = dataframe["unitcost"].astype(float)
    dataframe["totalrevenue"] = dataframe["totalrevenue"].astype(float)
    dataframe["totalcost"] = dataframe["totalcost"].astype(float)
    dataframe["totalprofit"] = dataframe["totalprofit"].astype(float)
    
    # Converting dates to uniform format
    date_format = "%m/%d/%Y"
    dataframe["orderdate"] = pd.to_datetime(dataframe["orderdate"], format=date_format, errors="coerce")
    dataframe["shipdate"] = pd.to_datetime(dataframe["shipdate"], format=date_format, errors="coerce")
    
    # Removing rows with invalid dates
    dataframe = dataframe.dropna(subset=["orderdate", "shipdate"])
    
    # Standardizing categorical fields to lowercase
    dataframe["region"] = dataframe["region"].str.lower()
    dataframe["country"] = dataframe["country"].str.lower()
    dataframe["itemtype"] = dataframe["itemtype"].str.lower()
    dataframe["saleschannel"] = dataframe["saleschannel"].str.lower()
    dataframe["orderpriority"] = dataframe["orderpriority"].str.lower()
    
    # Removing invalid records: Check if orderDate <= shipDate
    dataframe = dataframe[dataframe["orderdate"] <= dataframe["shipdate"]]
    
    # Add a "processed_at" column to track processing time
    dataframe["processed_at"] = datetime.now()
    
    return dataframe

In [5]:
#Loading cleaned data to cassandra
def load_to_cassandra(silver_df, keyspace, silvertable):
    create_table_query = f"""
    CREATE TABLE IF NOT EXISTS {keyspace}.{silvertable} (
        orderid BIGINT PRIMARY KEY,
        country TEXT,
        itemtype TEXT,
        orderdate DATE,
        orderpriority TEXT,
        region TEXT,
        saleschannel TEXT,
        shipdate DATE,
        totalcost FLOAT,
        totalprofit FLOAT,
        totalrevenue FLOAT,
        unitcost FLOAT,
        unitprice FLOAT,
        unitssold INT,
        processed_at TIMESTAMP
    );
    """
    session.execute(create_table_query)
    

    insert_query = f"""
    INSERT INTO {keyspace}.{silvertable} (
        orderid, country, itemtype, orderdate, orderpriority, region, 
        saleschannel, shipdate, totalcost, totalprofit, totalrevenue, 
        unitcost, unitprice, unitssold, processed_at
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    prepared = session.prepare(insert_query)

    for _, row in silver_df.iterrows():
        session.execute(prepared, (
            int(row["orderid"]),
            row["country"],
            row["itemtype"],
            row["orderdate"].date(),  
            row["orderpriority"],
            row["region"],
            row["saleschannel"],
            row["shipdate"].date(),
            float(row["totalcost"]),
            float(row["totalprofit"]),
            float(row["totalrevenue"]),
            float(row["unitcost"]),
            float(row["unitprice"]),
            int(row["unitssold"]),
            row["processed_at"].to_pydatetime() 
        ))

    print("Silver Data loaded successfully!")

In [6]:
#Generating gold tables(following 3 functions)
def gold_table1(silver_df):
    """
    top 5 countries by profit by region.
    """
    gold_table1 = (
        silver_df.groupby(["region", "country"], as_index=False)
        .agg(total_profit=("totalprofit", "sum"))
    )
    gold_table1 = (
        gold_table1.sort_values(by=["region", "total_profit"], ascending=[True, False])
        .groupby("region")
        .head(5)
    )
    return gold_table1

In [7]:
def gold_table2(silver_df):
    """
    Region wise item type revenue
    """
    gold_table2 = silver_df.groupby(['region', 'itemtype']).agg(
        total_revenue=('totalrevenue', 'sum')
    ).reset_index()

    return gold_table2

In [8]:
def gold_table3(silver_df):
    """Yearly item sales"""
    silver_df["year"] = silver_df["orderdate"].dt.to_period("Y").astype(str)  # Extract Year
    gold_table = (
        silver_df.groupby(["itemtype", "year"], as_index=False)
        .agg(
            total_revenue=("totalrevenue", "sum"),
            total_units_sold=("unitssold", "sum")
        )
    )
    return gold_table

In [9]:
#loading gold tables to database
def load_gold_table_to_cassandra(df, keyspace, table_name, schema_query, insert_query):
    session.execute(schema_query) 
    prepared = session.prepare(insert_query)
    for _, row in df.iterrows():
        session.execute(prepared, tuple(row))
    print(f"Data loaded successfully into {table_name}!")

In [10]:
def top_countries_by_profit(gold_table1, keyspace="sales"):#gold table 1
    schema_query = f"""
    CREATE TABLE IF NOT EXISTS {keyspace}.top_countries_by_profit (
        region TEXT,
        country TEXT,
        total_profit FLOAT,
        PRIMARY KEY (region, country)
    );
    """
    insert_query = f"""
    INSERT INTO {keyspace}.top_countries_by_profit (region, country, total_profit)
    VALUES (?, ?, ?);
    """
    load_gold_table_to_cassandra(
        gold_table1,
        keyspace,
        "top_countries_by_profit",
        schema_query,
        insert_query
    )

In [11]:
def region_itemtype_revenue(gold_table, keyspace="sales"):#gold table 2
    schema_query =f"""
    CREATE TABLE IF NOT EXISTS {keyspace}.region_itemtype_revenue (
        region TEXT,
        itemtype TEXT,
        total_revenue FLOAT,
        PRIMARY KEY (region, itemtype)
    );
    """
    insert_query =f"""
    INSERT INTO {keyspace}.region_itemtype_revenue (region, itemtype, total_revenue)
    VALUES (?, ?, ?);
    """
    load_gold_table_to_cassandra(
        gold_table2,
        keyspace,
        "region_itemtype_revenue",
        schema_query,
        insert_query
    )

In [12]:
def annual_item_performance(gold_table3, keyspace="sales"):#gold table 3
    schema_query = f"""
    CREATE TABLE IF NOT EXISTS {keyspace}.annual_item_performance (
        itemtype TEXT,
        month_year TEXT,
        total_revenue FLOAT,
        total_units_sold INT,
        PRIMARY KEY (itemtype, month_year)
    );
    """
    insert_query = f"""
    INSERT INTO {keyspace}.annual_item_performance (itemtype, month_year, total_revenue, total_units_sold)
    VALUES (?, ?, ?, ?);
    """
    load_gold_table_to_cassandra(
        gold_table3,
        keyspace,
        "annual_item_performance",
        schema_query,
        insert_query
    )

In [13]:
if __name__ == "__main__":
    session,cluster=connect_to_cassandra()
    df=pd.read_csv("https://raw.githubusercontent.com/gchandra10/filestorage/main/sales_100.csv")
    keyspace='sales'
    table='rawsales'
    #loading raw data in to bronze table
    load(session,keyspace,table,df)
    #extracting data from bronze table
    query = f"SELECT * FROM {keyspace}.{table}"
    rows = session.execute(query)
    data = [row._asdict() for row in rows]
    df1 = pd.DataFrame(data)
    print('Data Extracted Successfully!')
    #cleaning the data(making it suitable for silver stage)
    silver_df = bronze_to_silver(df1)
    #loading silver data to cassandra
    silvertable = "salescleaned"
    load_to_cassandra(silver_df, keyspace, silvertable)
    #Generating Gold tables
    gold_table1= gold_table1(silver_df)
    gold_table2 = gold_table2(silver_df)
    gold_table3 = gold_table3(silver_df)
    #loading gold tables to cassandra
    top_countries_by_profit(gold_table1, keyspace="sales")
    region_itemtype_revenue(gold_table2, keyspace="sales")
    annual_item_performance(gold_table3, keyspace="sales")

CSV data successfully loaded into Cassandra!(Bronze table)
Data Extracted Successfully!
Silver Data loaded successfully!
Data loaded successfully into top_countries_by_profit!
Data loaded successfully into region_itemtype_revenue!
Data loaded successfully into annual_item_performance!

# Viewing gold tables

In [14]:
query = f"SELECT * FROM {keyspace}.{'top_countries_by_profit'}"
rows = session.execute(query)
data = [row._asdict() for row in rows]
df1 = pd.DataFrame(data)
df1

                               region                   country  total_profit
0   central america and the caribbean      antigua and barbuda   7.949962e+05
1   central america and the caribbean                  dominica  1.266076e+06
2   central america and the caribbean                     haiti  2.590650e+05
3   central america and the caribbean                 nicaragua  1.568334e+06
4   central america and the caribbean               the bahamas  2.403966e+05
5                  sub-saharan africa                      mali  7.154564e+05
6                  sub-saharan africa                  tanzania  1.396870e+06
7                  sub-saharan africa                      togo  8.356192e+05
8                  sub-saharan africa                    uganda  1.059912e+06
9                  sub-saharan africa                  zimbabwe  1.214904e+06
10                             europe            czech republic  1.592128e+06
11                             europe                   estonia  1.653322e+06
12                             europe                   finland  1.394433e+06
13                             europe                    france  1.001143e+06
14                             europe                     italy  1.271916e+06
15       middle east and north africa                   algeria  1.681149e+06
16       middle east and north africa                   lebanon  5.016440e+05
17       middle east and north africa                      oman  1.380006e+06
18       middle east and north africa                  pakistan  5.702268e+05
19       middle east and north africa      united arab emirates  1.212379e+06
20              australia and oceania          papua new guinea  6.883085e+05
21              australia and oceania                    samoa   9.375346e+05
22              australia and oceania           solomon islands  7.002092e+05
23              australia and oceania                     tonga  5.302017e+05
24              australia and oceania                   vanuatu  5.171011e+05
25                      north america                    canada  1.297766e+06
26                      north america  united states of america  1.068558e+05
27                               asia                     china  7.311138e+05
28                               asia                     japan  1.390972e+06
29                               asia                     nepal  5.431712e+05
30                               asia                    taiwan  8.518422e+05
31                               asia              turkmenistan  7.188602e+05

In [15]:
query = f"SELECT * FROM {keyspace}.{'region_itemtype_revenue'}"
rows = session.execute(query)
data = [row._asdict() for row in rows]
df2 = pd.DataFrame(data)
df2

                               region         itemtype  total_revenue
0   central america and the caribbean        baby food   8.079612e+05
1   central america and the caribbean        beverages   2.989824e+05
2   central america and the caribbean           fruits   7.763493e+04
3   central america and the caribbean        household   9.913786e+06
4   central america and the caribbean  office supplies   5.436952e+06
5   central america and the caribbean    personal care   1.035519e+06
6                  sub-saharan africa        baby food   3.379907e+05
7                  sub-saharan africa        beverages   2.660047e+05
8                  sub-saharan africa          clothes   1.725313e+06
9                  sub-saharan africa        cosmetics   9.720705e+06
10                 sub-saharan africa           fruits   2.544571e+05
11                 sub-saharan africa        household   2.884922e+06
12                 sub-saharan africa             meat   2.149108e+06
13                 sub-saharan africa  office supplies   6.850078e+06
14                 sub-saharan africa    personal care   3.686023e+04
15                             europe        baby food   2.642658e+06
16                             europe        beverages   6.475976e+05
17                             europe           cereal   5.392837e+06
18                             europe          clothes   1.034335e+06
19                             europe        cosmetics   6.974652e+06
20                             europe           fruits   1.271026e+05
21                             europe        household   1.211173e+07
22                             europe  office supplies   5.569148e+06
23                             europe    personal care   3.571601e+05
24                             europe       vegetables   1.075339e+05
25       middle east and north africa        beverages   2.234420e+05
26       middle east and north africa          clothes   6.341519e+05
27       middle east and north africa        cosmetics   8.768484e+06
28       middle east and north africa        household   9.796838e+05
29       middle east and north africa             meat   7.905797e+06
30       middle east and north africa  office supplies   6.253570e+06
31              australia and oceania        baby food   1.411954e+06
32              australia and oceania        beverages   2.746406e+05
33              australia and oceania           cereal   1.221858e+06
34              australia and oceania          clothes   9.935738e+05
35              australia and oceania           fruits   5.350755e+04
36              australia and oceania        household   6.603844e+06
37              australia and oceania             meat   1.518804e+05
38                      north america        cosmetics   3.263261e+06
39                      north america    personal care   3.484967e+05
40                               asia        beverages   4.343573e+05
41                               asia           cereal   2.801428e+06
42                               asia           fruits   1.023314e+05
43                               asia        household   6.025122e+06
44                               asia             meat   1.107208e+07
45                               asia  office supplies   3.771157e+06
46                               asia    personal care   1.413112e+06
47                               asia           snacks   2.193643e+06
48                               asia       vegetables   1.027580e+06

In [16]:
query = f"SELECT * FROM {keyspace}.{'annual_item_performance'}"
rows = session.execute(query)
data = [row._asdict() for row in rows]
df3 = pd.DataFrame(data)
df3

           itemtype month_year  total_revenue  total_units_sold
0              meat       2013   4.205822e+06              9969
1              meat       2014   4.006268e+06              9496
2              meat       2015   2.008618e+06              4761
3              meat       2016   5.161824e+06             12235
4              meat       2017   5.896334e+06             13976
5        vegetables       2012   1.075339e+05               698
6        vegetables       2015   1.027580e+06              6670
7         household       2010   5.708362e+06              8542
8         household       2011   1.276997e+07             19109
9         household       2014   5.608790e+06              8393
10        household       2015   5.206492e+06              7791
11        household       2016   9.225468e+06             13805
12  office supplies       2010   1.336283e+06              2052
13  office supplies       2011   1.226424e+07             18833
14  office supplies       2012   6.253570e+06              9603
15  office supplies       2014   3.672173e+06              5639
16  office supplies       2016   3.771157e+06              5791
17  office supplies       2017   5.834842e+05               896
18        baby food       2010   6.284994e+05              2462
19        baby food       2011   6.994672e+04               274
20        baby food       2012   2.014159e+06              7890
21        baby food       2015   3.379907e+05              1324
22        baby food       2016   2.149968e+06              8422
23          clothes       2011   1.412772e+06             12928
24          clothes       2012   6.032256e+05              5520
25          clothes       2013   5.038901e+05              4611
26          clothes       2015   3.016128e+05              2760
27          clothes       2016   1.504458e+06             13767
28          clothes       2017   6.141536e+04               562
29           fruits       2010   4.422420e+04              4740
30           fruits       2011   9.402774e+04             10078
31           fruits       2012   8.590131e+04              9207
32           fruits       2013   8.836443e+04              9471
33           fruits       2014   1.645159e+05             17633
34           fruits       2015   3.341073e+04              3581
35           fruits       2016   1.045893e+05             11210
36           cereal       2010   1.932963e+06              9397
37           cereal       2011   1.456356e+06              7080
38           cereal       2013   8.684654e+05              4222
39           cereal       2014   1.168582e+06              5681
40           cereal       2015   3.989757e+06             19396
41        cosmetics       2010   3.470056e+06              7937
42        cosmetics       2011   7.779974e+06             17795
43        cosmetics       2012   2.368312e+06              5417
44        cosmetics       2014   4.003440e+06              9157
45        cosmetics       2015   7.709148e+06             17633
46        cosmetics       2016   3.396170e+06              7768
47        beverages       2011   1.676408e+05              3533
48        beverages       2012   9.089048e+05             19155
49        beverages       2013   2.517697e+05              5306
50        beverages       2014   4.343573e+05              9154
51        beverages       2016   3.823521e+05              8058
52    personal care       2010   6.525323e+05              7984
53    personal care       2011   9.778177e+05             11964
54    personal care       2012   7.605794e+05              9306
55    personal care       2014   3.686023e+04               451
56    personal care       2015   2.887521e+05              3533
57    personal care       2016   4.746061e+05              5807
58           snacks       2012   8.161504e+05              5349
59           snacks       2013   1.377492e+06              9028

In [17]:
cluster.shutdown()